/* semantic stylesheet by chad bennett  mister-chad.com */

        :root {
            --background: #f5f4f2;
            --black: #444;
            --gray: #999;
            --white: #fff;
            --faded: #bdc2cc;
            --darker: #406abf;
            --pink: #e6b5b3;
            --red: #b32624;
            --shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

        /* Reset margins and padding */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            position: relative;
        }

        body {

            overflow-x: hidden;
            word-break: break-word;
            overflow-wrap: break-word;
            background: var(--background);
            color: var(--black);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 18px;
            font-weight: 400;
            line-height: 1.6;
            text-rendering: optimizeLegibility;
        }

        main {
            margin: 0 auto;
            max-width: 800px;
            padding: 3rem;
        }

        header,
        footer {
            min-width: 100vw;
            position: relative;
            margin-left: calc(-50vw + 50%);
            background: var(--black);
            color: var(--background);
            padding: 1rem 5rem;
            text-align: center;
        }

        nav {
            align-items: center;
            display: flex;
            font-weight: bold;
            justify-content: space-between;
            width: fit-content;
            margin: auto;
            padding-bottom: 1rem;
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav ul li {
            display: inline-block;
            margin: 0 0.5rem;
            position: relative;
            text-align: left;
        }

        nav a {
            background: linear-gradient(0deg, var(--background), var(--background));
            background-position: 0 100%;
            background-repeat: repeat-x;
            background-size: 6px 0px;
            color: var(--background);
            font-weight: 600;
            text-decoration: none;
            transition: background-size 0.3s, color 0.3s, box-shadow 0.2s;
            padding: 3px;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }

        nav a:hover {
            background-size: 4px 50px;
            color: var(--black);
            box-shadow: var(--shadow);
        }

        /* Nav Dropdown */
        nav ul li:hover ul {
            display: block;
        }

        nav ul li ul {
            background: var(--background);
            box-shadow: var(--shadow);
            display: none;
            height: auto;
            padding: .5rem 1rem;
            position: absolute;
            top: 1.7rem;
            white-space: nowrap;
            width: auto;
            z-index: 1;
            margin: .3rem 0;
        }

        nav ul li ul::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -0.5rem;
            height: 0.5rem;
        }

        nav ul li ul a {
            background: linear-gradient(0deg, var(--black), var(--black));
            background-position: 0 100%;
            background-repeat: repeat-x;
            background-size: 6px 0px;
            color: var(--black);
            font-weight: 600;
            text-decoration: none;
            transition: background-size 0.3s, color 0.3s, box-shadow 0.2s;
            padding: 3px;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }

        nav ul li ul a:hover {
            background-size: 4px 50px;
            color: var(--background);
            box-shadow: var(--shadow);
        }

        nav ul li ul li,
        nav ul li ul li a {
            display: block;
        }

        ::selection {
            background: #9871aa88;
        }

        section {
            padding: 1rem;
            background: var(--white);
            box-shadow: inset 1px 1px 3px #88888888;
            border-left: 0.5px solid var(--gray);
            border-top: 0.5px solid var(--gray);
        }

        aside {
            float: right;
            width: 35%;
            margin-left: 1rem;
        }

        aside::after {
            content: "";
            float: none;
            clear: both;
        }

        /* typography based on type-scale.com Major-Third */
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 3rem 0 1.38rem;
            line-height: 1.3;
            font-weight: 700;
        }

        section h1,
        section h2,
        section h3,
        section h4,
        section h5,
        section h6 {
            margin: 1rem 0;
        }

        p {
            margin-bottom: 1rem;
        }

        h1 {
            font-size: 3.052rem;
        }

        h2 {
            font-size: 2.441rem;
        }

        h3 {
            font-size: 1.953rem;
        }

        h4 {
            font-size: 1.563rem;
        }

        h5 {
            font-size: 1.25rem;
        }

        h6 {
            font-size: 1rem;
        }

        small,
        sub,
        sup {
            font-size: 75%;
        }

        hr {
            border: 0 solid transparent;
            border-bottom: 2px solid var(--gray);
            margin: 2rem;
        }

        /*links*/
        a {
            background: linear-gradient(0deg, var(--darker), var(--darker));
            background-position: 0 100%;
            background-repeat: repeat-x;
            background-size: 6px 1px;
            color: var(--darker);
            font-weight: 600;
            text-decoration: none;
            transition: background-size 0.3s, color 0.3s, box-shadow 0.2s;
            padding: 3px;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }

        a:hover {
            background-size: 4px 50px;
            color: var(--white);
        }

        /* responsive image and video */
        img,
        video {
            height: auto;
            max-width: 100%;
            margin-top: 0px;
            margin-bottom: 2.5rem;
        }

        /* code */
        pre {
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
            background-color: var(--white);
            color: var(--red);
            display: block;
            padding: 1em;
            overflow-x: auto;
            margin-top: 0px;
            margin-bottom: 2.5rem;
            box-shadow: inset 1px 1px 3px #88888888;
            border-left: 0.5px solid var(--gray);
            border-top: 0.5px solid var(--gray);
        }

        code {
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
            color: var(--red);
            font-size: 0.9em;
            padding: 3px 6px;
            background-color: var(--white);
            white-space: pre-wrap;
            box-shadow: inset 1px 1px 3px #88888888;
            border-left: 0.5px solid var(--gray);
            border-top: 0.5px solid var(--gray);
        }

        pre>code {
            padding: 0;
            background-color: transparent;
            white-space: pre;
        }

        /* lists */
        ol,
        ul {
            padding: 1rem;
            padding-top: 0;
            margin-left: 2rem;
        }

        ul>ul,
        ol>ol,
        ul>ol,
        ol>ul {
            padding: 0 1rem;
        }

        mark {
            padding: 3px 6px;
            background: var(--pink);
        }

        /* accordion menus */
        details {
            padding: .5rem 1rem;
            border-bottom: 1px solid var(--gray);
        }

        details:last-of-type {
            border-bottom: 0 solid transparent;
        }

        summary {
            cursor: pointer;
            font-weight: bold;
        }

        details[open] {
            padding-bottom: .75rem;
        }

        details[open] summary {
            margin-bottom: 6px;
        }

        details[open]>*:last-child {
            margin-bottom: 0;
        }

        /*figures and images */
        figure iframe {
            position: relative;
            overflow: hidden;
            padding-top: 56.25%;
            border-radius: 0;
            margin-bottom: 1rem;
        }

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            margin: auto;
            box-shadow: var(--shadow);
            border: 2px solid var(--black);
        }

        figcaption,
        caption {
            font-size: 90%;
            text-align: center;
            font-style: italic;
        }

        blockquote {
            padding: 1.5rem;
            margin: 2rem 0;
            background: var(--white);
            box-shadow: var(--shadow);
            border: 2px solid var(--black);
        }

        dt {
            font-weight: bold;
        }

        dd::before {
            content: '→ ';
        }

        textarea {
            max-width: 100%;
        }

        table {
            table-layout: fixed;
            width: 80%;
            margin: auto;
            border-collapse: collapse;
            border: 2px solid var(--black);
            box-shadow: var(--shadow);
        }

        thead,
        tfoot {
            background: var(--black);
            color: var(--background);
            text-align: left;
        }

        td,
        th {
            padding: 1rem;
            text-align: left;
            border: 1px solid var(--black);
        }

        tbody tr:nth-child(even) {
            background-color: var(--white);
        }